#ylapalkki {

}

#valipalkki {
    padding-top: 1%;
    background-color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.streamboxi {
    padding: 5%;
}

#playerElement1 {
     width:55vw;
     height:0;
     padding:0 0 56.25% 0;
 }

#streamiBackground {
    background-color: rgb(0, 182, 240);
}

#streamibackgroundinbackground {
    padding-right: 5%;
    padding-left: 5%;
}

/*-------navigation bar---------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.linkkielementti {
    float: right;
}

#espooliikkuu {
    width: 30%;
}
/*-------navigation bar---------*/

#loppuinfo {
    height: 7vw;
}

#loppuinfonvalipalkki {
    height: 1vw;
}

.alapalkinteksti {
    color: grey;
}